In [2]:
import pandas as pd

In [37]:
# Rutas y nombres de los CSV
temp = './datasets/originals/temp.csv'
precip = './datasets/precip.csv'

# Leer archivos CSV
df = pd.read_csv(temp)
dfP = pd.read_csv(precip)

In [48]:
df.describe()

               Any         Mes  Temperatura  Precipitacion
count  2844.000000  2844.00000  2844.000000    2844.000000
mean   1904.000000     6.50000    14.593530      49.220886
std      68.427429     3.45266     5.529662      45.226096
min    1786.000000     1.00000     2.500000       0.000000
25%    1845.000000     3.75000     9.700000      16.500000
50%    1904.000000     6.50000    14.000000      37.400000
75%    1963.000000     9.25000    19.700000      68.725000
max    2022.000000    12.00000    28.500000     365.800000

In [39]:
# Eliminamos las filas correspondientes a los aÃ±os del 1780 al 1785 de dfP
# df.Any = pd.to_numeric(df.Any)
df = df[df.Any >= 1786].reset_index(drop=True)

In [44]:
df['Precipitacion'] = dfP["Precipitacions"]

In [43]:
dfP.tail()

       Any  Mes  Desc_Mes  Precipitacions
2839  2022    8     Agost            67.9
2840  2022    9  Setembre            13.1
2841  2022   10   Octubre            11.3
2842  2022   11  Novembre             7.6
2843  2022   12  Desembre            33.0

In [47]:
df.tail()

       Any  Mes  Desc_Mes  Temperatura  Precipitacion
2839  2022    8     Agost         27.2           67.9
2840  2022    9  Setembre         22.5           13.1
2841  2022   10   Octubre         20.7           11.3
2842  2022   11  Novembre         15.2            7.6
2843  2022   12  Desembre         12.6           33.0

In [49]:
df.to_csv('./datasets/TempPrecip.csv', index=False)