In [1]:
import pandas as pd

In [2]:
folder = "./datasets/"

In [103]:
df_mesures = pd.read_csv(folder + "datos_hume.csv", header=0).drop(['Unnamed: 0'], axis=1)

In [106]:
df_mesures['data_lectura'] = pd.to_datetime(df_mesures['data_lectura']).dt.date

In [107]:
df_mesures['data_lectura'] = pd.to_datetime(df_mesures['data_lectura'])

# Agrupar por "data_lectura" y calcular la suma de "valor_lectura"
df_mean_por_fecha = df_mesures.groupby(df_mesures['data_lectura'].dt.date)['valor_lectura'].mean().reset_index()

# Eliminar las columnas 'id', 'codi_estacio' y 'codi_variable'
# df_mesures = df_mesures.drop(['id', 'codi_estacio', 'codi_variable'], axis=1)

In [108]:
df_mesures

,id,codi_estacio,codi_variable,data_lectura,valor_lectura
0,CA330101090000,CA,33,2009-01-01,85.0
1,CC330101090000,CC,33,2009-01-01,94.0
2,CD330101090000,CD,33,2009-01-01,93.0
3,CE330101090000,CE,33,2009-01-01,88.0
4,CG330101090000,CG,33,2009-01-01,50.0
...,...,...,...,...,...
22356006,Z8332805232200,Z8,33,2023-05-28,100.0
22356007,Z9332805232200,Z9,33,2023-05-28,92.0
22356008,ZB332805232200,ZB,33,2023-05-28,85.0
22356009,ZC332805232200,ZC,33,2023-05-28,87.0
22356010,ZD332805232200,ZD,33,2023-05-28,99.0

In [109]:
df_mean_por_fecha['data_lectura'] = pd.to_datetime(df_mean_por_fecha['data_lectura'])
df_mean_por_fecha['any'] = df_mean_por_fecha['data_lectura'].dt.year

# Calcular la media de valor_lectura por año
df_media_por_año = df_mean_por_fecha.groupby('any')['valor_lectura'].mean()

In [110]:
df_media_por_año = df_media_por_año.reset_index()
df_media_por_año = df_media_por_año.loc[df_media_por_año['any'] != 2023]

In [114]:
df_media_por_año

     any  valor_lectura
0   2009      67.958191
1   2010      69.076156
2   2011      70.112671
3   2012      65.940156
4   2013      68.756008
5   2014      71.285952
6   2015      68.462572
7   2016      69.658529
8   2017      67.960913
9   2018      73.272770
10  2019      67.931419
11  2020      73.667367
12  2021      72.608023
13  2022      69.430873

In [111]:
df_json = df_media_por_año.to_json(orient='records')

In [112]:
df_json

'[{"any":2009,"valor_lectura":67.9581908282},{"any":2010,"valor_lectura":69.0761562028},{"any":2011,"valor_lectura":70.1126713499},{"any":2012,"valor_lectura":65.9401557615},{"any":2013,"valor_lectura":68.7560084141},{"any":2014,"valor_lectura":71.2859522328},{"any":2015,"valor_lectura":68.4625722514},{"any":2016,"valor_lectura":69.658529072},{"any":2017,"valor_lectura":67.9609134338},{"any":2018,"valor_lectura":73.2727696005},{"any":2019,"valor_lectura":67.9314186677},{"any":2020,"valor_lectura":73.6673674743},{"any":2021,"valor_lectura":72.6080233406},{"any":2022,"valor_lectura":69.4308728007}]'

In [113]:
nombre_archivo = 'datos_hume.json'

# Guardar el JSON en un archivo
with open(nombre_archivo, 'w') as archivo:
    archivo.write(df_json)