In [1]:
import pandas as pd

In [7]:
folder = "./datasets_models/"
data_labels = ["temp", "precip", "hume"]
df_list = [pd.read_csv(folder + f"mean_{i}_x_day.csv").drop(['Unnamed: 0'],axis=1) for i in data_labels]

In [11]:
df_list[0]

                 comarca  codi_variable data_lectura  valor_lectura
0        Vallès Oriental             32   2009-01-01       8.059722
1        Vallès Oriental             32   2009-01-02       7.416667
2        Vallès Oriental             32   2009-01-03       5.665278
3        Vallès Oriental             32   2009-01-04       4.345833
4        Vallès Oriental             32   2009-01-05       3.138824
...                  ...            ...          ...            ...
37095  Vallès Occidental             32   2023-07-05      21.832143
37096  Vallès Occidental             32   2023-07-06      22.760119
37097  Vallès Occidental             32   2023-07-07      23.723214
37098  Vallès Occidental             32   2023-07-08      25.869048
37099  Vallès Occidental             32   2023-07-09      25.338776

[37100 rows x 4 columns]

In [13]:
for i, label in enumerate(data_labels):
    df_list[0][label] = df_list[i].valor_lectura

In [17]:
df_res = df_list[0].drop(["valor_lectura", "codi_variable"],axis=1)

In [19]:
df_res.to_csv(folder + "mean_data_x_day.csv", index=False)