In [27]:
import pandas as pd

In [28]:
folder = "./datasets_models/"
data_labels = ["temp", "precip", "hume"]
df_list = [pd.read_csv(folder + f"mean_{i}_x_day.csv") for i in data_labels]

In [31]:
df_list

[                 comarca  codi_variable data_lectura  valor_lectura
 0        Vallès Oriental             32   2009-01-01       8.059722
 1        Vallès Oriental             32   2009-01-02       7.416667
 2        Vallès Oriental             32   2009-01-03       5.665278
 3        Vallès Oriental             32   2009-01-04       4.345833
 4        Vallès Oriental             32   2009-01-05       3.138824
 ...                  ...            ...          ...            ...
 37095  Vallès Occidental             32   2023-07-05      21.832143
 37096  Vallès Occidental             32   2023-07-06      22.760119
 37097  Vallès Occidental             32   2023-07-07      23.723214
 37098  Vallès Occidental             32   2023-07-08      25.869048
 37099  Vallès Occidental             32   2023-07-09      25.338776

 [37100 rows x 4 columns],
                  comarca  codi_variable data_lectura  valor_lectura
 0        Vallès Oriental             35   2009-01-01            0.0
 1        Vallès Oriental             35   2009-01-02            0.8
 2        Vallès Oriental             35   2009-01-03            0.0
 3        Vallès Oriental             35   2009-01-04            0.2
 4        Vallès Oriental             35   2009-01-05            0.2
 ...                  ...            ...          ...            ...
 37095  Vallès Occidental             35   2023-07-05            1.2
 37096  Vallès Occidental             35   2023-07-06            2.0
 37097  Vallès Occidental             35   2023-07-07            0.0
 37098  Vallès Occidental             35   2023-07-08            0.0
 37099  Vallès Occidental             35   2023-07-09            0.0

 [37100 rows x 4 columns],
                  comarca  codi_variable data_lectura  valor_lectura
 0        Vallès Oriental             33   2009-01-01      86.152778
 1        Vallès Oriental             33   2009-01-02      91.291667
 2        Vallès Oriental             33   2009-01-03      92.083333
 3        Vallès Oriental             33   2009-01-04      81.638889
 4        Vallès Oriental             33   2009-01-05      76.811765
 ...                  ...            ...          ...            ...
 37095  Vallès Occidental             33   2023-07-05      84.946429
 37096  Vallès Occidental             33   2023-07-06      76.791667
 37097  Vallès Occidental             33   2023-07-07      68.672619
 37098  Vallès Occidental             33   2023-07-08      61.208333
 37099  Vallès Occidental             33   2023-07-09      63.390476

 [37100 rows x 4 columns]]

In [32]:
for i, label in enumerate(data_labels):
    df_list[0][label] = df_list[i].valor_lectura

In [34]:
df_res = df_list[0].drop(["valor_lectura", "codi_variable"],axis=1)

In [36]:
df_res.describe()

               temp        precip          hume
count  37100.000000  37100.000000  37100.000000
mean      15.298610      4.104873     70.308566
std        6.339120     17.161556     11.707444
min       -4.170833      0.000000     16.091667
25%       10.198958      0.000000     62.677083
50%       14.873958      0.000000     71.150000
75%       20.745982      0.300000     78.763889
max       30.644167    388.200000    100.000000

In [13]:
df_res.to_csv(folder + "mean_data_x_day.csv", index=False)