In [63]:
import pandas as pd
import joblib
import pickle
from sklearn.preprocessing import PolynomialFeatures

In [21]:
dicc_modelos = joblib.load('./models/all_models.pkl')
dicc_poly_features = joblib.load('./models/all_features.pkl')

In [22]:
poly_features = dicc_poly_features["Vallès Occidental"]
poly = poly_features.transform([[5.665277777777778,92.08333333333331,7.416666666666667,0.0083333333333333,91.29166666666669]]) 
dicc_modelos["Vallès Occidental"].predict(poly)

c:\Users\jairo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but PolynomialFeatures was fitted with feature names
  warnings.warn(

array([0.12467289])

In [27]:
aux = joblib.load("./comarques.joblib")

In [42]:
aux.to_dict(orient="records")

[{0: 'Vallès Oriental', 'index': 0},
 {0: 'Alt Penedès', 'index': 1},
 {0: 'Baix Llobregat', 'index': 2},
 {0: 'Barcelonès', 'index': 3},
 {0: 'Garraf', 'index': 4},
 {0: 'Maresme', 'index': 5},
 {0: 'Vallès Occidental', 'index': 6}]

In [43]:
df = pd.read_csv("comarques.csv")

In [52]:
dicc_com = df.set_index('index')['comarca'].to_dict()

In [54]:
joblib.dump(dicc_com, "comarques.joblib")

['comarques.joblib']

In [55]:
dict_models = joblib.load("./models/all_models.pkl")
dict_features = joblib.load("./models/all_features.pkl")
dict_comarques = joblib.load("./comarques.joblib")

In [62]:
dict_features.keys()

dict_keys(['Vallès Oriental', 'Alt Penedès', 'Baix Llobregat', 'Barcelonès', 'Garraf', 'Maresme', 'Vallès Occidental'])

In [65]:
df = pd.read_csv("./datasets_models/data.csv")
df

,comarca,data_lectura,temp,precip,hume,temp_anterior,precip_anterior,hume_anterior
0,Vallès Oriental,2009-01-01,8.059722,0.000000,86.152778,NaN,NaN,NaN
1,Vallès Oriental,2009-01-02,7.416667,0.008333,91.291667,8.059722,0.000000,86.152778
2,Vallès Oriental,2009-01-03,5.665278,0.000000,92.083333,7.416667,0.008333,91.291667
3,Vallès Oriental,2009-01-04,4.345833,0.002083,81.638889,5.665278,0.000000,92.083333
4,Vallès Oriental,2009-01-05,3.138824,0.002083,76.811765,4.345833,0.002083,81.638889
...,...,...,...,...,...,...,...,...
37095,Vallès Occidental,2023-07-05,21.832143,0.007143,84.946429,23.057962,0.000633,78.019108
37096,Vallès Occidental,2023-07-06,22.760119,0.011905,76.791667,21.832143,0.007143,84.946429
37097,Vallès Occidental,2023-07-07,23.723214,0.000000,68.672619,22.760119,0.011905,76.791667
37098,Vallès Occidental,2023-07-08,25.869048,0.000000,61.208333,23.723214,0.000000,68.672619
37099,Vallès Occidental,2023-07-09,25.338776,0.000000,63.390476,25.869048,0.000000,61.208333

In [75]:
df[df.comarca == "Vallès Oriental"].iloc[-1].values[-3:]

array([25.47430555555556, 0.0, 55.19444444444444], dtype=object)